
	<footer class="container-fluid footer" id="footer">
		<div class="sect-inner row">
				<div class="col-sm-6">
					<p class="footer-text text-small">Thanks for sticking around! Feel free to reach out to <br class="hidden-xs"><a href="mailto:aloha@egegorgulu.com">aloha@egegorgulu.com</a> if you have something on your mind.</p>
					<p class="text-small">
					<a href="https://www.linkedin.com/in/egegorgulu" target="_blank">LinkedIn</a>
					<span class="sep">&middot;</span>
					<a href="http://codepen.io/bamf/" target="_blank">Codepen</a>
					<span class="sep">&middot;</span>
					<a href="https://twitter.com/tatarjr" target="_blank">Twitter</a>
				</div>
				<div class="col-sm-4 col-sm-offset-1">
					<h2 class="text-footer">
						<img src="/assets/img/logo-fade.svg" alt="">
						<span class="rotate12">Mahalo!</span>
					</h2>
				</div>
		</div>
	</footer>

	<div class="lb" id="lightbox">
		<div class="lb-img"></div>
		<div class="lb-close">&times;</div>
	</div>