
	<footer class="container-fluid footer">
		<div class="sect-inner row">
				<div class="col-sm-6">
					<p class="text-small">Thanks for sticking around, follow me on social media to see what I'm upto or send me <a href="mailto:aloha@egegorgulu.com">an email</a> if you wanna chat.</p>
					<p class="text-small">
					<a href="mailto:aloha@egegorgulu.com">Email</a>
					<span class="sep">&middot;</span>
					<a href="https://www.linkedin.com/in/egegorgulu">Linkedin</a>
					<span class="sep">&middot;</span>
					<a href="http://codepen.io/bamf/">Codepen</a>
					<span class="sep">&middot;</span>
					<a href="https://twitter.com/tatarjr">Twitter</a>
				</div>
				<div class="col-sm-4 col-sm-offset-1">
					<h2 class="text-footer"><span class="rotate12">Mahalo!</span></h2>
				</div>
		</div>
	
	</footer>

	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.1/less.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function(){
			var navSticky = false;
			var stickyThreshold = 360;

			$(document).scroll(function(){
				var top = $('body').scrollTop();
				if ( top > stickyThreshold && !navSticky ) {
					navSticky = true;
					$('.masthead').addClass('sticky');
				}
				if ( top < 1 && navSticky ) {
					navSticky = false;
					$('.masthead').removeClass('sticky');
				}
			})
		});
	</script>
</html>