@import "mixins.less";
@import "viewers.less";



// =========================
// LAYOUT
// =========================

section {
	position: relative;
	z-index: 1;
}

.sect-inner {
	position: relative;
	width:1024px;
	max-width: 90%;
	margin:0 auto;

	.post-header &, 
	.post-content &,
	.sect-hero { width:720px; }
}

.sect-hero {
	background: url(/assets/img/bg.jpg) top center #f5f5f5;
	background-size:cover;
	//border-bottom: 1px solid #eee;

	.sect-inner {min-height: 660px;width:720px;}
}

.sect-works {
	z-index: 10;
	padding: 90px 0;
}

.sect-hero-mini {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	padding: 1vh 0 1vh;
	height: 105px;
	background-color:#fafafa;
}

.footer {
	padding:90px 0 60px;
	//.sect-inner {height: 45vh;}
}



// =========================
// HEADER
// =========================

// Bar
.masthead {
	position: absolute;
	top:0;
	left: 0;
	height:80px;
	padding:15px 0;
	z-index: 20;
	border-bottom: 1px solid transparent;
	width:100%;
	transition: all 0.3s ease;

	.row {
		margin:0;
	}

	&.sticky {
		position: fixed;
		background:#fff;
		border-bottom: 1px solid #e5e5e5;
	}
}

.logo, .nav {
	padding: 0 15px;
}

// Logo
.logo {
	&-mark {
		display: inline-block;
		background-color:transparent;
		transition:all 0.3s ease;
		&:after {
			bottom:50%;
			transform: translate(-50%, 50%);
			z-index: 4;
			border-radius: 50%;
			background: @yellow;
		}
		&:hover, &:focus {
			//background-color: @yellow;
			&:after {
				width:100%;
				height:100%;
			}
			img {
				transform:rotate(0);
			}
		}
	}

	&-text {
		font-size:12px;
		line-height: 50px;
		margin-left:6px; 
		color:@yellow;
		letter-spacing: 5px;
		text-transform: uppercase;
	}

	&-crumb {
		font-size:12px;
		line-height: 50px;
		color:fade(@dark-pink, 50%);
		letter-spacing: 5px;
		text-transform: uppercase;
	}

	img {
		width:50px;
		height:50px;
		padding:10px;
		position: relative;
		transition:all 0.3s ease;
		z-index: 5;
		transform:rotate(-12deg);
	}
}

// Navigation
.nav {
	text-align: right;
	.font-regular();
	font-size:15px;
	line-height: 50px;
	color:@gray;
	display: inline-block;
	letter-spacing: 1px;
	& > a {
		margin:0 15px 0 30px;
	}
}

.m2 .nav {
	letter-spacing: 3px;
	font-size: 13px;
	& > a {
		margin: 0 5px 0 15px;
	}
}




// =========================
// TYPOGRAPHY
// =========================

body {
  .font-body();
  color:@dark-pink;
  font-size:15px;
}

.text-warmup {
	&:extend(.script-normal);
	color:@pink;
	span {transform: rotate(-6deg) translate(-20%, 5%);}
}

.text-lead {
	&:extend(.text-macro);
	.font-bold();
	margin-bottom: 36px;
	.grad-text();
}

.text-bio {
	&:extend(.text-normal);
}

.text-footer {
	.font-accent();
	.text-center;
	float: right;
	font-size: 48px;
	color:@dark-pink;
	background-size: 120%;
	position: relative;
	span {
		position: relative;
		.grad-text();
		padding: 3px;
	}
	img {
		position: absolute;
		left: 50%;
		top:50%;
		width: 120px;
		z-index: -1;
		transform: translate(-50%, -45%);
	}
}

.text-sect-header {
	&:extend(.script-big);
	.text-center();
	color:@dark-pink;
	//text-shadow: 0 0 30px @pink;
	span {.grad-text; padding:6px;}
	margin:0 auto;
	padding:6px 0 36px;
	.sect-hero-mini & {
		&:extend(.script-normal);
		color:@yellow;
		padding:18px 0 36px;
	}
}

.text-item-header {
	.script-normal();
	color: @pink;
	transition:all 0.3s ease;
	margin:0;
}

.text-type {
	&:extend(.text-micro);
	.font-bold();
	text-transform: uppercase;
	color:@dark-pink;
	a:hover & {
		opacity: 0;
	}
}

.text-small + .text-small,
.text-normal + .text-normal {
	margin-top: 18px;
}

.text-link {
	&:extend(.text-micro);
	.font-semi();
	position: absolute;
	top: 72px;
	left: 50%;
	text-transform: uppercase;
	display: block;
	color:@yellow;
	opacity: 0 !important;
	transform:translateX(-50%);
	a:hover & {opacity: 1 !important;}
}

// =========================
// WORKS 
// =========================

// Works list

.grid-item {
	width: 33%;
	float: left;
	padding: 0;
	position: relative;

	
	background-repeat: no-repeat;
	background-position: center center;
	background-size:inherit;
	
	a {
		display: block;
		padding: 36px 36px 42px;
		margin: 12px 6px;
		.text-center();
		border:1px dashed transparent;
		transition:all 0.3s ease;
		border-radius: 30px;
		position: relative;
		.disable-hover;
		&:hover, &:focus {
			border:1px dashed lighten(@yellow, 10%);
			background-color: transparent;
			.text-item-header {
				color: @yellow;
			}
		}
	}

	&-img {
		.center-align;
		z-index: -1;
		transition:transform 0.3s ease;
		opacity: 0.75;
	}

	&-type {
		margin: 0 0 18px;
		.text-center();
	}

	&-desc {
		.text-small;
		color:@dark-pink;
		//max-width: 90%;
		margin:0 auto;
	}
}

.item-beforeafter a:hover .grid-item-img { 
	transform: translate(-50%, -50%) rotate(12deg) scale(1.2);
}
.item-yekolay a:hover .grid-item-img { 
	transform: translate(-50%, -55%) rotate(-12deg) scale(1.2);
}
.item-pinata a:hover .grid-item-img { 
	transform: translate(-50%, -55%) rotate(12deg) scale(1.2);
}
.item-analytics a:hover .grid-item-img { 
	transform: translate(-50%, -50%) scale(1.2);
}
.item-jobspot a:hover .grid-item-img { 
	transform: translate(-50%, -50%) rotate(21deg) scale(1.1);
}
.item-smallthings a:hover .grid-item-img { 
	transform: translate(-55%, -50%) rotate(-12deg) scale(1.2);
}



// =========================
// POST
// =========================

// Post Styling
.post-content {
	padding:60px 0 90px;

	h1 {
		&:extend(.text-macro);
		.font-bold();
		.text-center;
		//color:@pink;

	}
	h2 {
		&:extend(.script-small);
		.text-center;
		color:@pink;
		margin:-6px 0 36px;
	}
	h3 {
		&:extend(.text-large);
		.font-light;
		color:@pink;
		margin: 36px 0 18px;
		//text-transform: uppercase;
	}
	p {
		&:extend(.text-normal);
		margin-bottom: 18px;
	}

	strong { 
		.font-semi; 
	}
	img {
		width:120%;
		margin: 24px 0 24px -10%;
		border:5px solid #f5f5f5;
	}
}

.post-actions {
	.text-center;
}

.postNav {
	border-top: 1px solid #e5e5e5;
	padding:60px 0 0;
	margin: 120px auto 0;
	max-width: 360px;
	.text-center;
	p { 
		&:extend(.text-type);
		.text-micro;
		margin:0 0 12px;
	}
	a {
		&:extend(.script-normal);
		// .font-black;
	}
	.col-sm-6 {padding:0;}
}
.postNav-next{
	//.text-right;
}

// Image captions
img.captioned {
	//border:none;
	margin: 48px 0 0 -10%;
}

img.no-border {
	border:none;
}

.caption {
	.text-center;
	.text-tiny;
	color:@gray;
	display: block;
	font-style: italic;
	margin:24px 0 48px;
	a {color:@orange;}
}

// =========================
// RESUME
// =========================

// Resume Styling
.resume-content {
	padding:60px 0;

	h3 { 
		&:extend(.text-large);
		.font-bold(); 
		margin:0;
	}

	h4 { 
		.font-light();
		&:extend(.text-small); 
		letter-spacing: 0.5px;
		color:@pink;
		margin:0 0 12px;
	}

	p { &:extend(.text-small); }
	p + p {	margin-top: 12px; }

	main { position: relative;}
	main li { margin-bottom: 60px;}

	.pdf {
		//text-align: center;
		border-bottom: 0;
		.butt {margin:0 !important;}
	}
}
// Resume Sidebar
.resume-content aside {
	padding:30px 0 0 90px;
	h2 {
		.script-small;
		position: absolute;
		top:0;
		left:50%;
		margin:0;
		padding:0 9px;
		background: white;
		transform:rotate(-4deg) translate(-50%, -65%);
	}
	h3 { &:extend(.text-small);.font-medium; }
	h4 { &:extend(.text-tiny); color:@gray}
	p { &:extend(.text-tiny); margin-bottom:9px}
	& > div { 
		border-bottom: 1px dashed fade(@pink, 50%); 
		padding: 36px 0 32px; 
		//margin-bottom:12px;
		position: relative;

		&:first-child {
			border-top: 1px dashed fade(@pink, 50%); 
		}
	}
}

// =========================
// ARTICLES
// =========================
.list-articles {
	max-width:720px;
	margin:0 auto;
}

.article {
	padding: 90px 0;
	border-bottom:1px solid #e5e5e5;
	&:last-child {border-bottom:none;}

	a {
		.disable-hover;
		display: block;
	}

	.title {
		&:extend(.text-large);
		.font-bold(); 
		margin:0;
	}

	.desc {
		.text-small;
		color:@dark-pink;
	}
	.meta {
		&:extend(.text-type);
		text-align:left;
		span + span:before {
			content: "\2022 \00a0";
			display: inline-block;
			margin:3px;
		}
	}
}


// End Articles


.footer {
	.text-small { color:@gray; }
}

.sep {.font-display(); color:@gray;margin:0 6px;}

@keyframes pump {
	0% {transform:scale(0.9);}
	100% {transform:scale(1);}
}



// Wave Animation
.wave {
	display: block;
	position: absolute;
	left: 0;
	width:100%;
	height: 36px;

	&-top {
		top: -36px;
		animation: wave-top 90s ease-in-out infinite alternate;
		background: url(/assets/img/wave-top.png) center bottom repeat-x;
	}
	&-bottom {
		bottom:-36px;
		animation: wave-bottom 90s ease-in-out infinite alternate;
		background: url(/assets/img/wave-bottom.png) center top repeat-x;
	}
}

@keyframes wave-top {
	0% { background-position: 0 bottom; }
	50% { background-position: 9999px bottom; }
	100% { background-position: 0 bottom; }
}

@keyframes wave-bottom {
	0% { background-position: 0 top; }
	50% { background-position: 9999px top; }
	100% { background-position: 0 top; }
}


// =========================
// RESPONSIVENESS
// =========================

// Tablet
@media only screen and (max-width: 768px) {
	.text-lead {
		.text-large;
	}
	.text-bio {
		.text-small;
	}

	.grid-item {
		width:50%;
		a {padding:24px 18px 30px}
	}
	.sect-works {
		padding:60px 0 30px;
	}
	.post-content {
		padding: 30px 0; 
	}
	.resume-content { 
		aside {
			padding: 30px 45px 0 45px;
		}
	}
	.browser, .gallery, .wide-cont, .post-content img {
		width:100%;
		margin-left: 0;
	}
}

// Mobile
@media only screen and (max-width: 480px) {
	.text-warmup {
		.script-small;
	}
	.text-lead {
		.text-small;
		line-height: 1.4;
		margin-bottom: 15px;
	}
	.text-bio {
		.text-micro;
	}	
	.grid-item {
		width:100%;
		a {padding:18px 36px 24px}
	}
	.text-sect-header {
		.script-normal();
		padding:6px 0 54px;
	}

	.text-footer {
		float: none;
		padding:60px 0;
		margin-top: 30px;
	}
	.post-content {
		p { .text-small; }
		h1 { .text-big; }
	}
	.resume-content { 
		aside {
			padding: 30px 0 0;
			.text-center;
		}
		h3 { .text-normal; }
		h4 { .text-tiny; }
	}
	.img-switcher {line-height: 2;}
	.butt.butt-pri {margin-right: 0}
	.nav a {.font-regular; margin:0 5px; padding:5px;}

	.sect-hero .sect-inner {min-height: 500px;}
	.phone {
		.iphone { 
			width:240px;
			height: 485px;
			margin:0 auto;
			.home-btn { width:30px; height:30px; }
			.screen { left: 3.865%; width: 92.28%; height: 78.667%; background:#222;}
		}
		.img-switcher {
			padding-top: 30px;
			text-align: center;
			li {padding:2px 6px; border:none !important; display: inline-block;}
		}
	}
}