// Variables & Mixins

.font-body() { font-family: "omnes-pro", sans-serif; }
.font-accent() { font-family: "rooney-web", sans-serif; }
.font-display() { font-family: "ff-market-web", cursive; }

@pink: #fe919f;
@orange: #ffc19c;
@gray: #999999;

.vert-align {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}





// General & Resets

a {
	text-decoration: none;
	color:@pink;
	&:hover {
		text-decoration: none;
		background: @pink;
		color:white;
	}
}

ul {
  margin:0;
}

html {
	p, h1, h2, h3, h4, h5, h6, span, a {
		opacity: 0;
		transition: opacity 0.3s ease;
	}
	&.wf-active {
		p, h1, h2, h3, h4, h5, h6, span, a {
			opacity: 1;
		}
	}
}




// Layout

section {
	position: relative;
	z-index: 1;
}

.sect-inner {
	position: relative;
	width:1024px;
	max-width: 90%;
	margin:0 auto;

}

.sect-hero {
	background:#f5f5f5;
	border-bottom: 1px solid #eee;

	.sect-inner {height: 95vh;}
}





// Typography

body {
  .font-body();
}

// p {
// 	font-size: 18px;
// 	font-weight: 300;
// 	letter-spacing: 0.3px;
// }


.text {
	font-size:24px;
	line-height: 40px;

	&-warmup {
		.font-display();
		color:@pink;
		font-weight: 300;
		font-size: 30px;
		line-height: 30px;
		transform: translate(-10px, -30px) rotate(-4deg);
	}

	&-lead{
		.font-body();
		font-weight: 700;
		font-size: 42px;
		//font-style: italic;
		line-height: 54px;
		margin-bottom: 36px;
	}

	& + & {
		margin-top: 18px;
	}
}





//Navigation

.masthead {
	position: fixed;
	top:0;
	left: 0;
	height:80px;
	padding:15px 0;
	z-index: 10;

	border-bottom: 1px solid transparent;
	width:100%;
	.row {
		margin:0;
	}
}

.logo, .nav {
	padding: 0 15px;
}

.logo {
	a {
		display: inline-block;
	}
	span {
		font-size:12px;
		text-transform: uppercase;
		margin-left:15px; 
		line-height: 50px;
		letter-spacing: 5px;
		color:@orange;
	}
	img {
		width:50px;
		height:50px;
		padding:10px;
	}
}

.nav {
	text-align: right;
	font-size:15px;
	line-height: 50px;
	color:#999;
	letter-spacing: 1px;
	& > a {
		margin:0 15px 0 30px;
	}
}



// Works list

.grid {
	list-style:none inside;
}

h1 {
	.font-display();
	font-size:3em;
	text-align: center;
}

.grid_item {
	width: 33%;
	float: left;
	padding: 0;
	
	background-repeat: no-repeat;
	background-position: center center;

	a {
		display: block;
		padding: 30px 36px;
		margin: 12px 0;
		color: @gray;
		text-align: center;
		// background:#eee;
		// height: 80vh;
	}

	h4 {
		.font-display();
		color: @pink;
		font-size: 24px;
	}

	&_type {
		font-size: 12px;
		
		margin: 0 0 18px;
		text-transform: uppercase;
	}

	&_desc {
		// max-width: 84%;
		margin:0 auto;
	}
}

.item-beforeafter { 

}
.item-yekolay { 
	
}

.item-pinata {

}

