{% include header.html %}
<body class="post {{ page.selector }}">
	{% include nav2.html %}
	<section class="container-fluid sect-hero-mini" style="background-image: url(/assets/img/{{page.cover}})">
		<div class="sect-inner">
			<!-- <h1 class="text-sect-header"><span class="rotate6">{{ page.prettyTitle }}</span></h1> -->
		</div>
	</section>
	<section class="container-fluid post-content">
		<div class="wave wave-top"></div>
		<div class="sect-inner">
			{{ content }}
			<div class="postNav">
				{% if page.previous.url == undefined %}
					<div class="postNav-prev">
						<p>Previous Project</p>
						<a class="next" href="{{page.next.url}}">{{page.next.prettyTitle}}</a>
					</div>
				{% endif %}
				{% if page.previous.url %}
					<div class="postNav-next">
						<p>Next Project</p>
						<a class="previous" href="{{page.previous.url}}">{{page.previous.prettyTitle}}</a>
			    	</div>
				{% endif %}
			</div>
		</div>
		<div class="wave wave-bottom"></div>
	</section>
</body>
{% include footer.html %}
{% if page.carousel %}
<script>
	$(document).ready(function(){
		$('.img-switcher a').click(function(){
			var s = $(this).attr('data-target');
			var top = $('.viewer-cont').offset().top - 105;
			$('.img-switcher a').removeClass('active');
			$(this).addClass('active');
			if ( $('.browser-stage div').hasClass('scroll-to-top') ){
				$('.browser-stage div').animate({scrollTop:0});
			}
			$('body, html').animate({scrollTop: top});
			$('#stage').attr('src', s);
			$('.browser-init').remove();
		});
		$('.browser-init').click(function(){
			$(this).remove();
		});
	});
</script>
{% endif %}