{% include header.html %}
<body class="post">
	{% include nav.html %}
	<section class="container-fluid post-header" style="background-image: url(/assets/{{page.cover}})">
		<div class="sect-inner">
			<h1 class="text text-h1"><span class="rotate">{{ page.title }}</span></h1>
			<p class="text-type">{{ page.type }}</p>
		</div>
	</section>
	<section class="container-fluid post-content">
		<div class="wave wave-top"></div>
		<div class="sect-inner">
			{{ content }}
		</div>
		<div class="wave wave-bottom"></div>
	</section>
</body>
{% include footer.html %}